<a href="https://colab.research.google.com/github/vrinda561/SONAR-rock-vrs-mine-predicton/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING LIBRARIES

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

IMPORTING DATASET

In [2]:
dataset = pd.read_csv("Copy of sonar data.csv" ,header = None)
x = dataset.iloc[: ,:-1].values
y = dataset.iloc[:,-1].values

In [3]:
dataset.head()

       0       1       2       3       4   ...      56      57      58      59  60
0  0.0200  0.0371  0.0428  0.0207  0.0954  ...  0.0180  0.0084  0.0090  0.0032   R
1  0.0453  0.0523  0.0843  0.0689  0.1183  ...  0.0140  0.0049  0.0052  0.0044   R
2  0.0262  0.0582  0.1099  0.1083  0.0974  ...  0.0316  0.0164  0.0095  0.0078   R
3  0.0100  0.0171  0.0623  0.0205  0.0205  ...  0.0050  0.0044  0.0040  0.0117   R
4  0.0762  0.0666  0.0481  0.0394  0.0590  ...  0.0072  0.0048  0.0107  0.0094   R

[5 rows x 61 columns]

SPLITTING DATASET IN TRAINING AND TEST SET

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify = y)

In [10]:
print(y_train)

['M' 'M' 'M' 'R' 'R' 'R' 'R' 'R' 'R' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'R' 'M'
 'M' 'M' 'R' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'R' 'R' 'R' 'R' 'M' 'M' 'R' 'R'
 'R' 'R' 'M' 'M' 'M' 'M' 'M' 'R' 'R' 'R' 'R' 'R' 'R' 'R' 'R' 'M' 'M' 'R'
 'R' 'M' 'M' 'R' 'M' 'R' 'R' 'R' 'R' 'M' 'M' 'M' 'R' 'M' 'M' 'R' 'M' 'R'
 'M' 'R' 'R' 'R' 'M' 'M' 'R' 'M' 'R' 'M' 'M' 'R' 'M' 'M' 'M' 'R' 'M' 'R'
 'M' 'M' 'R' 'M' 'M' 'M' 'M' 'M' 'R' 'R' 'R' 'R' 'M' 'M' 'R' 'R' 'M' 'R'
 'R' 'R' 'M' 'R' 'M' 'R' 'M' 'M' 'M' 'R' 'M' 'M' 'M' 'R' 'R' 'M' 'R' 'M'
 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'M' 'R' 'M' 'M' 'R' 'M' 'M' 'R' 'R' 'R'
 'R' 'M' 'M' 'M' 'R' 'R' 'R' 'R' 'R' 'R' 'M' 'R' 'M' 'R' 'R' 'R' 'R' 'R'
 'M' 'M' 'M' 'R']

In [11]:
print(y_test)

['R' 'M' 'M' 'M' 'M' 'R' 'R' 'R' 'M' 'R' 'M' 'M' 'M' 'M' 'R' 'R' 'M' 'R'
 'M' 'R' 'R' 'R' 'R' 'M' 'M' 'M' 'M' 'M' 'R' 'M' 'R' 'R' 'R' 'M' 'R' 'R'
 'R' 'M' 'R' 'M' 'M' 'M']

APPLYING LOGISTIC REGRESSION

In [5]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

PREDICTING THE TEST SET RESULT

In [6]:
y_pred = classifier.predict(x_test)
print(np.concatenate((y_test.reshape(len(y_test),1),y_pred.reshape(len(y_pred),1)),1))

[['R' 'R']
 ['M' 'M']
 ['M' 'M']
 ['M' 'M']
 ['M' 'R']
 ['R' 'R']
 ['R' 'R']
 ['R' 'R']
 ['M' 'M']
 ['R' 'R']
 ['M' 'R']
 ['M' 'M']
 ['M' 'R']
 ['M' 'M']
 ['R' 'R']
 ['R' 'R']
 ['M' 'R']
 ['R' 'R']
 ['M' 'R']
 ['R' 'R']
 ['R' 'R']
 ['R' 'R']
 ['R' 'R']
 ['M' 'R']
 ['M' 'M']
 ['M' 'M']
 ['M' 'M']
 ['M' 'M']
 ['R' 'R']
 ['M' 'M']
 ['R' 'R']
 ['R' 'R']
 ['R' 'R']
 ['M' 'M']
 ['R' 'M']
 ['R' 'M']
 ['R' 'R']
 ['M' 'R']
 ['R' 'R']
 ['M' 'M']
 ['M' 'M']
 ['M' 'M']]

MEASURING ACCURACY

In [7]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[15  7]
 [ 2 18]]

0.7857142857142857

APPLYING K-FOLD CROSS VALIDATION

In [9]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = x_train, y = y_train,cv =10)
print(" Accuracy:{:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f}%".format(accuracies.std()*100))

 Accuracy:74.15 %
Standard Deviation: 9.22%